@{
    Layout = null;
}

<article>
    <h2>About application</h2>
    <p>
        This was created as semestral project of KAJ at FEE CTU. Application is created using Object-Oriented Javascript, jQuery, SignalR and Twitter bootstrap. 
    </p>
    <p>
        Application enables you to play five-in-line (or tic-tac-toe, ...) without any registration (but if you make one, you can see your statistics). In future, you will
        be able to sign in using your account from Google, Microsoft or Facebook...
    </p>
    <p>
        Games can be played simultanously. If you create a new game, you can choose your shape and board dimensions. In next versions, there will also be time limit to
        make your move.
    </p>

    <h2>About author</h2>
    <p>
        My name is Marek Fišera. I'm currently (summer 2013) 2nd year student of Master program of Open Informatics at Faculty of Electical Engineering at Czech Technical University
        in Prague. <a href="people.neptuo.com/mara">More about me can be found at my profile at neptuo</a>
    </p>
</article>
