@{
    Layout = null;
}

<div id="feature-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <h3>
            <span class="muted">Pisqorks</span>
            -
            <span>Missing some required features!</span>
        </h3>
    </div>
    <div class="modal-body">
        <p>
            Your browser is too old to run this site! Try consider upgrading to newer version or some completely different one.
        </p>
        <ul class="feature-browserlist">
            <li>
                <a target="_blank" href="http://www.google.com/chrome" class="chrome"><span>Google Chrome</span></a>
            </li>
            <li>
                <a target="_blank" href="http://www.mozilla.org/firefox/" class="firefox"><span>Mozilla Firefox</span></a>
            </li>
            <li>
                <a target="_blank" href="http://www.opera.com/" class="opera"><span>Opera</span></a>
            </li>
            <li>
                <a target="_blank" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" class="ie"><span>Internet explorer</span></a>
            </li>
        </ul>
        <div class="muted">
            <p>
                We are missing these features:
            </p>
            <ul id="feature-missinglist">

            </ul>
        </div>
    </div>
</div>