<!doctype html>
<html>
    <head>
        <title>Loading - Pisqorks</title>

        @Styles.Render("~/stylesheet/libraries")
        
        @Scripts.Render("~/javascript/libraries")
        <script src="~/signalr/hubs"></script>

        @Scripts.Render("~/javascript/pisqorks")
    </head>
    <body>
        <div class="all hide">
            <div class="app">
                <div class="container">

                    <div class="head">
                        <div id="user-info-view" class="right muted"></div>

                        <h3>
                            <span class="muted">Pisqorks</span>
                            -
                            <span id="sub-title"></span>
                        </h3>


                    </div>

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">
                                <ul class="nav">

                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <div class="content-body">
                    
                    </div>

                </div>
            </div>
            <div class="foot muted">
                <div class="container">
                    <div class="left">
                        Pisqorks &copy; 2013 - 1.0.0
                    </div>
                    <div class="right loading hide">
                        Loading...
                    </div>
                </div>
            </div>
        </div>

        
        
        @{ Html.RenderPartial("Login"); }
        @{ Html.RenderPartial("Register"); }
        @{ Html.RenderPartial("Feature"); }
        

        <script>

            var anonymousContext = {

            };

            Pisqorks.Application.Start();

        </script>
    </body>
</html>