<!doctype html>
<html>
    <head>
        <title>Loading - Pisqorks</title>

        @Styles.Render("~/content/stylesheet")
        
        @Scripts.Render("~/javascript/libraries")
        <script src="~/signalr/hubs"></script>

        @Scripts.Render("~/javascript/pisqorks")
    </head>
    <body>
        <div class="all hide">
            <div class="app">
                <div class="container">

                    <header>
                        <div id="user-info-view" class="right muted"></div>
                        

                        <table class="game-board game-board-auto">
                            <tr>
                                <td></td><td></td>
                            </tr>
                            <tr>
                                <td></td><td></td>
                            </tr>
                        </table>
                        <h1>
                            <span class="muted">Pisqorks</span>
                            -
                            <span id="sub-title"></span>
                        </h1>

                        <div class="clear"></div>
                    </header>

                    <nav class="navbar">
                        <h3>Menu</h3>
                        <div class="navbar-inner">
                            <div class="container">
                                <ul class="nav">

                                </ul>
                            </div>
                        </div>
                    </nav>
                
                    <div class="content-body">
                    
                    </div>

                </div>
            </div>
            <div class="foot muted">
                <div class="container">
                    <div class="left" itemscope="itemscope" itemtype="http://schema.org/Person">
                        Pisqorks -
                        <span itemprop="name">Marek Fišera</span>
                        -
                        <span itemprop="affiliation">Neptuo</span>
                        &copy; 2013 - 1.0.1
                    </div>
                    <div class="right loading hide">
                        Loading...
                    </div>
                    <div class="right">

                        <audio controls="controls">
                            <source src="content/sounds/champions.mp3" type="audio/mp3" />
                            <source src="content/sounds/champions.ogg" type="audio/ogg" />
                        </audio>

                    </div>
                </div>
            </div>
        </div>

        
        
        @{ Html.RenderPartial("Login"); }
        @{ Html.RenderPartial("Register"); }
        @{ Html.RenderPartial("Feature"); }
        @{ Html.RenderPartial("GameCreate"); }
        

        <script>

            Pisqorks.Application.Start();

        </script>
    </body>
</html>