@{
    Layout = null;
}

<form id="register-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            <span class="muted">Pisqorks</span>
            -
            <span>Register new account</span>
        </h3>
    </div>
    <div class="modal-body row">
        <div class="span4">
            <input type="text" placeholder="Display name (visible to others)" class="input-block-level" data-binding="DisplayName" />
            <input type="text" placeholder="User name" class="input-block-level" data-binding="Username" />
            <input type="password" placeholder="Password" class="input-block-level" data-binding="Password" />
            <input type="password" placeholder="Password (re-type)" class="input-block-level" data-binding="PasswordAgain" />

            <label class="checkbox">
                <input type="checkbox" data-binding="SignIn" /> Sign me in after registration
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Register new account</button>
        <a class="btn btn-info" href="#/account/login">Sign in</a>
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</form>