/* COMMON ------------------------------------------------------------------------------------- */

.clear {
    clear: both;
}

.left {
    float: left;
}

.right,
.navbar .nav > li.right,
.nav-tabs > li.right {
    float: right;
}

/* LAYOUT ------------------------------------------------------------------------------------- */

html, body, .all {
    height: 100%;
}

.app {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -41px;
}

.navbar .nav {
    width: 100%;
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar h3 {
    display: none;
}

header h1 {
    font-size: 24.5px;
}

header #user-info-view {
    margin: 10px 0;
}

header, 
.content-body {
    padding: 0 10px;
}

    .content-body .span6 {
        width: 450px;
    }

.foot {
    height: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #d4d4d4;
}

    .foot .loading {
        padding: 0 5px;
        font-weight: bold;
        color: white;
        background: red;
        border-radius: 4px;
    }

article h2 {
    font-size: 20.5px;
}

/* HEADER ANIMATION --------------------------------------------------------------------------- */

header h1 {   
    float: left;
    transition: all 1s;
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

    header h1:hover {
        transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }

/* HEADER AUTO-PISQ --------------------------------------------------------------------------- */

.game-board.game-board-auto {
    float: left;
    margin: 10px;
    opacity: 0.5;
}

.game-board.game-board-auto td {
    width: 15px;
    height: 15px;
}

.game-board-auto tr:first-child td:first-child {
    animation: playPisq1 5s linear infinite;
    -moz-animation: playPisq1 5s linear infinite;
    -webkit-animation: playPisq1 5s linear infinite;
}
.game-board-auto tr:first-child td:last-child {
    animation: playPisq2 5s linear infinite;
    -moz-animation: playPisq2 5s linear infinite;
    -webkit-animation: playPisq2 5s linear infinite;
}
.game-board-auto tr:last-child td:first-child {
    animation: playPisq3 5s linear infinite;
    -moz-animation: playPisq3 5s linear infinite;
    -webkit-animation: playPisq3 5s linear infinite;
}
.game-board-auto tr:last-child td:last-child {
    animation: playPisq4 5s linear infinite;
    -moz-animation: playPisq4 5s linear infinite;
    -webkit-animation: playPisq4 5s linear infinite;
}
    
@keyframes playPisq1 {
	0%, 100% { background-image: none; }
	20%, 40%, 60%, 80% { background-image: url("images/round_15.png"); }
}
@keyframes playPisq2 {
	0%, 20%, 100% { background-image: none; }
	40%, 60%, 80% { background-image: url("images/cross_15.png"); }
}
@keyframes playPisq3 {
	0%, 20%, 40%, 60%, 100% { background-image: none; }
	80% { background-image: url("images/cross_15.png"); }
}
@keyframes playPisq4 {
	0%, 20%, 40%, 100% { background-image: none; }
	60%, 80% { background-image: url("images/round_15.png"); }
}
@-moz-keyframes playPisq1 {
	0%, 100% { background-image: none; }
	20%, 40%, 60%, 80% { background-image: url("images/round_15.png"); }
}
@-moz-keyframes playPisq2 {
	0%, 20%, 100% { background-image: none; }
	40%, 60%, 80% { background-image: url("images/cross_15.png"); }
}
@-moz-keyframes playPisq3 {
	0%, 20%, 40%, 60%, 100% { background-image: none; }
	80% { background-image: url("images/cross_15.png"); }
}
@-moz-keyframes playPisq4 {
	0%, 20%, 40%, 100% { background-image: none; }
	60%, 80% { background-image: url("images/round_15.png"); }
}
@-webkit-keyframes playPisq1 {
	0%, 100% { background-image: none; }
	20%, 40%, 60%, 80% { background-image: url("images/round_15.png"); }
}
@-webkit-keyframes playPisq2 {
	0%, 20%, 100% { background-image: none; }
	40%, 60%, 80% { background-image: url("images/cross_15.png"); }
}
@-webkit-keyframes playPisq3 {
	0%, 20%, 40%, 60%, 100% { background-image: none; }
	80% { background-image: url("images/cross_15.png"); }
}
@-webkit-keyframes playPisq4 {
	0%, 20%, 40%, 100% { background-image: none; }
	60%, 80% { background-image: url("images/round_15.png"); }
}
            
/* HOME --------------------------------------------------------------------------------------- */

/* FEATURES ----------------------------------------------------------------------------------- */

ul.feature-browserlist {
    height: 120px;
    list-style: none;
    margin: 20px 0;
}
    ul.feature-browserlist li {
        float: left;
    }

        ul.feature-browserlist li a {
            width: 120px;
            height: 120px;
            display: block;
            float: left;
            margin: 0 5px;
            background: url("images/browsers.png") no-repeat;
        }
        
            ul.feature-browserlist li a.chrome {
                background-position: -10px 0;
            }
            ul.feature-browserlist li a.firefox {
                background-position: -140px 0;
            }
            ul.feature-browserlist li a.opera {
                background-position: -260px 0;
            }
            ul.feature-browserlist li a.ie {
                background-position: -520px 0;
            }

            ul.feature-browserlist li a span {
                display: none;
            }

/* ACCOUNT - LOGIN ---------------------------------------------------------------------------- */

#login-modal {
    width: 570px;
}

/* GAME - BOARD ------------------------------------------------------------------------------- */

.game-board {
    margin: 0 auto;
}

.game-board td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    transition: opacity 500ms;
    background: no-repeat 1px 1px;
}

    .game-board td.round {
        background-image: url("images/round.png");
    }

    .game-board td.cross {
        background-image: url("images/cross.png");
    }

    .game-board td.round, .game-board td.cross {
        animation: hightlight 3s linear 1;
        -moz-animation: hightlight 3s linear 1;
        -webkit-animation: hightlight 3s linear 1;
    }

@-webkit-keyframes hightlight {
	0%, 50%, 100% { background-color: transparent; }
	25%, 75% { background-color: yellow; }
}

.game-board-disabled td {
    opacity: 0.5;
}